/* Resetear estilos predeterminados */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4; /* Color de fondo suave */
  color: #333; /* Color de texto principal */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.name {
  font-size: 36px;
  color: #007BFF; /* Color llamativo */
}

.title {
  font-size: 24px;
  color: #555; /* Color suave para subtítulos */
}

.location {
  font-size: 18px;
  color: #555; /* Color suave para detalles */
}

.linkedin-btn {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

.linkedin-icon-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.linkedin-icon-btn:hover {
  background-color: #0056b3;
}

main {
  margin-bottom: 40px;
}

h2 {
  margin: 20px 0;
  color: #007BFF; /* Color llamativo para títulos de sección */
}

ul {
  margin-left: 20px;
}

ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

ul li h3 {
  margin-bottom: 5px;
}

footer {
  text-align: center;
  color: #888; /* Color suave para el pie de página */
}
