<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <meta http-equiv="Expires" content="Sat, 01 Jan 2000 00:00:00 GMT">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Martin Coronado CV</title>
  <link rel="stylesheet" href="CSS/CV_Style.css" media="(min-width: 769px)">
  <link rel="stylesheet" href="CSS/CV_Style_movil.css" media="(max-width: 768px)">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-shtts1EYjUSsJaMa5iW9aVjuw1TKxx2CVP8vBmIlvEA8hBLz6UOk3MBCSwFhhdnH" crossorigin="anonymous">
</head>

<body>
  <header>
    <h1 class="name">Martín Humberto Coronado Gutierréz</h1>
    <h2 class="title">Ingeniero en Sistemas</h2>
    <p class="location">Panamá, Panamá Oeste</p>
    <a class="linkedin-btn" href="https://www.linkedin.com/in/MartinCoronadoJr" target="_blank"
      rel="noopener noreferrer">
      <button class="linkedin-icon-btn">
        <i class="fab fa-linkedin"></i> Visita mi perfil de LinkedIn
      </button>
    </a>
    <section>
      <a href="index.html">
        <button class="retornar"> Regresar a la pagina principal</button>
      </a>
    </section>
  </header>
  <main>
    <section>
      <h2>Experiencia laboral</h2>
      <ul class="experience-list">
        <li>
          <h3>ING. de software</h3>
          <p>DELL</p>
          <p>Agosto 2022 - Actualidad</p>
          <p>
            Se ha llevado a cabo la creación de una API con Spring Boot y Flask para el Departamento de Marketing,
            en conjunto con la herramienta empresarial B2B Alation. Asimismo,
            se ha realizado una integración exitosa con la plataforma Boomi, permitiendo
            la gestión de API, consultas de bases de datos, envío de correos automáticos
            y transferencia de archivos mediante FTP en el proceso de migración
            de software desde Mule a Alation. Esta implementación ha demostrado una
            mayor eficiencia y una mejor experiencia para el equipo de marketing y
            ha facilitado la transición a la nueva plataforma.
          </p>
        </li>
        <li>
          <h3>Desarrollador RPA</h3>
          <p>SoftBotic INC</p>
          <p>OCT 2020 - AGO 2022</p>
          <p>
            En mi rol de RPA (Automatización Robótica de Procesos), he liderado importantes proyectos en distintas
            organizaciones de renombre. En un reconocido supermercado de Panamá, automatizamos eficientemente la
            declaración de renta mediante el uso del framework de UiPath integrado con el sistema SAP One ERP.

            Asimismo, en una institución financiera, logramos optimizar el proceso de registro de ventas y pagos en SAP
            ERP, utilizando herramientas de visión por computadora y sesiones remotas, combinadas con la potencia de
            UiPath.

            Para una empresa multinacional de telecomunicaciones, llevamos a cabo la automatización del sistema IBM
            AS-400 mediante comandos de consolas con UiPath, agilizando tareas cruciales de la compañía.

            Además, en otro proyecto exitoso, implementamos lectura OCR con la inteligencia artificial de Azure
            Microsoft para la extracción y procesamiento eficiente de facturas de seguros médicos para diversas
            empresas.

            Estas experiencias han consolidado mi habilidad en RPA y me han permitido alcanzar resultados significativos
            en términos de eficiencia, precisión y ahorro de recursos para las empresas que he tenido el privilegio de
            asistir.
          </p>
        </li>
        <li>
          <h3>Becario, intership</h3>
          <p>SoftBotic INC</p>
          <p>ENE 2020 - OCT 2020</p>
          <p>
            Durante mi internado, trabajé con UiPath en proyectos de automatización robótica de procesos (RPA) atendidos
            y desatendidos. En colaboración con diferentes equipos, diseñé flujos de trabajo inteligentes para liberar a
            los empleados de tareas repetitivas y también desarrollé bots autónomos que ejecutaron tareas críticas con
            precisión y eficiencia. Esta experiencia me permitió adquirir habilidades técnicas, trabajar en equipos
            multidisciplinarios y comprender el impacto transformador de la RPA en la eficiencia y productividad
            empresarial. Estoy emocionado de aplicar estos conocimientos en futuros desafíos laborales.
          </p>
        </li>
      </ul>
    </section>
    <section>
      <h2>Educación</h2>
      <ul class="education-list">
        <li>
          <h3>Licenciatura en Ingeniería de Sistemas y Computación</h3>
          <p>Universidad Tecnológica de Panamá, Panamá</p>
          <p>MAR 2013 - SEP 2021</p>
        </li>
        <li>
          <h3>Maestría y Postgrado en Informática Educativa</h3>
          <p>Universidad Tecnológica de Panamá, Panamá</p>
          <p>MAY 2022 - SEP 2024</p>
        </li>
        <li>
          <h3>Especialización en Docencia Superior</h3>
          <p>UMECIT, Panamá</p>
          <p>SEP 2023 - JUL 2024</p>
        </li>
      </ul>
    </section>
    <section> 
      <h2>Habilidades Blandas</h2>
      <ul> 
        <li>Comunicación</li>
        <li>Trabajo en equipo</li>
        <li>Resolución de problemas</li>
        <li>Empatía</li>
      </ul>
      <h2>Habilidades Duras</h2>
      <ul> 
        <li>Programación
          <table>
            <tr>
              <td>Python</td>
              <td>Java</td>
              <td>C|C++</td>
              <td>JavaScript</td>
            </tr>
            <tr>
              <td>TypeScript</td>
              <td>.Net</td>
              <td>C#</td>
              <td>Groovy</td>
            </tr>
          </table>
        </li>
        <li>Base de datos
          <table>
            <tr>
              <td>postgre</td>
              <td>oracle</td>
              <td>mysql</td>
              <td>sql server</td>
            </tr>
            </td>
          </table>
        </li>
        <li>RPA
          <table>
            <tr>
              <td>UiPath</td>
              <td>OpenBost</td>
            </tr>
            <tr>
              <td>AutomationAnywhere</td>
              <td>Power Automate</td>
            </tr>
            </td>
          </table>
        </li>
        <li>Control de versiones
          <table>
            <tr>
              <td>Github</td>
              <td>GitLab</td>
              <td>Bitbucket</td>
            </tr>
          </table>
        </li>
        <li>APIs
          <table>
            <tr>
              <td>Flask</td>
              <td>Springs</td>
            </tr>
          </table>
        </li>
        <li>Bash</li>
        <li>Boomi</li>
        <li>Soporte Tecnico en Computación</li>
        <li>Scrum</li>
      </ul>
    </section>
    <section>
      <h2>Idiomas</h2>
      <ul>
        <li>Español</li>
        <li>Inglés</li>
      </ul>
    </section>
    <section>
      <h2>Contacto</h2>
      <ul>
        <li>Telefono: <a href="tel:+5073514705">+5073514705</a></li>
        <li>WhatsApp:<a href="https://api.whatsapp.com/send?phone=50761498818" target="_blank"
          rel="noopener noreferrer"> +50761498818</a></li>
        <li>Email: <a href="mailto:martin.coronado@yahoo.com" target="_blank" rel="noopener noreferrer"> martin.coronado@yahoo.com</a></li>
      </ul>
    </section>
  </main>
  <footer>
    <p>Copyright &copy; 2023 Martín Coronado</p>
  </footer>
</body>

</html>