<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin Coronado</title>
    <link rel="stylesheet" href="CSS/landing_Style.css">
</head>

<body>
    <header>
        <h1>Martín Humberto Coronado Gutierréz</h1>
        <h2 class="title">Ingeniero en Sistemas</h2>
    </header>
    <main>
        <section>
            <h2>Hoja de Vida</h2>
            <a href="cv.html"><button>Ver hoja de vida</button></a>
        </section>
        <section>
            <h2>Portafolio</h2>
            <a href="https://github.com/martinheler/" target="_blank" rel="noopener noreferrer"><button>Ver Portafolio de
                github</button></a>
        </section>
        <section>
            <h2>Codigos en Js</h2>
            <a href="matematicas.html"><button>Ver Codigos en Js</button></a>
        </section>
        <section>
            <h2>Contacto</h2>
            <div class="redes-sociales">
                <!-- Aquí irá el contenido de las redes sociales y correo electrónico -->
               <a href="https://www.linkedin.com/in/MartinCoronadoJr"  target="_blank"
               rel="noopener noreferrer"><img src="imagenes/linkedin.png"
                        alt="linkedin" class="icon"></a> 
                <a href="mailto:martin.coronado@yahoo.com"><img src="imagenes/mail-icon.png"
                alt="mail" class="icon"></a>
                <a href="https://api.whatsapp.com/send?phone=50761498818"  target="_blank"
                rel="noopener noreferrer">
                    <img src="imagenes/whatsapp-icon.png" alt="WhatsApp" class="icon">
                </a>
            </div>
        </section>
    </main>
    <footer>
        <p>Derechos reservados &copy; 2023. Martín Coronado</p>
    </footer>
</body>

</html>